{% comment %}
snippets/product-form.liquid
{% endcomment %}
{%- liquid

  if product.template_suffix == 'pre-order'
    assign call_to_action = 'products.product.pre_order' | t
  else
    assign call_to_action = 'products.product.add_to_cart' | t
  endif

  unless current_variant.available
    assign call_to_action = 'products.product.sold_out' | t
  endunless

  assign product_form_id = 'product-form-' | append: section.id

-%}

  <!-- product title -->
    <h3>
      <a href="{{ product.url }}">{{ product.title }}</a>
    </h3>

     <!-- product price -->
   <h4 class="h5">
     {% render 'product-price', variant: current_variant, product: product %}
   </h4>

  {%- form 'product', product, id: 'product-form-installment' -%}
    <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
    <select style="display:none;" name='id'>
      {% for variant in product.variants %}
        <option value="{{ variant.id }}" {% if variant == current_variant %}selected="selected"{% endif %}></option>
      {% endfor %}
    </select>
    <div class="spi-banner">
      {{ form | payment_terms }}
    </div><!-- /#spi-banner -->
  {%- endform -%}


  {%
    form 'product', product,
    id: product_form_id,
    class: "product_form product__form-container",
    data-product-form: product_form_config,
    data-product-id: product.id
  %}

    {%
      render 'product-variants',
      product: product,
      section: section,
      block: block,
      current_variant: current_variant,
      show_size_chart: show_size_chart,
      size_chart_label: size_chart_label,
      size_chart_page: size_chart_page,
      size_chart_type: size_chart_type,
      section_id: section.id
    %}


  <!-- quantity selector -->
  {% if settings.show_quantity %}
    <div data-product-qty>
    <label
      class="option-label"
      for="product-qty-{{ product.id }}">
      {{ 'products.product.quantity' | t }}
    </label>
    <div class="quantity-selector mb20">
      <button
        class="quantity-control-down"
        type="button">
        <span class="visually-hidden">{{ 'cart.general.decrease' | t: product: product.title | escape }}</span>
      -</button>
      <input
        id="product-qty-{{ product.id }}"
        type="text"
        name="quantity"
        class="product-qty quantity" {% if current_variant.inventory_management == 'shopify' %}{% unless current_variant.inventory_policy == 'continue' %}
        data-limit="{{ current_variant.inventory_quantity }}"
        {% endunless %}{% endif %}
        value="1"
        style="max-width: 50px; text-align: center; margin: 0 auto 10px;"/>
      <button
        class="quantity-control-up"
        type="button">
        <span class="visually-hidden">{{ 'cart.general.increase' | t: product: product.title | escape }}</span>
      +</button>
    </div>
    </div>
  {% endif %}

  <!-- product add -->
  <div class="product-add clearfix">
    <input class="formVariantId" name="" type="hidden" value="{{ product.selected_or_first_available_variant.id }}">
    <div
      class="note note-success mt3 js-added-msg"
      style="display: none">
      <strong>{{ 'products.product.added' | t }}</strong>
      <a
        class="underline"
        href="{{ routes.cart_url }}">
        {{ 'products.product.view_cart' | t }}
      </a>
      {{ 'products.product.or' | t }}
      <a
        class="underline"
        href="{{ routes.all_products_collection_url }}">
      {{ 'products.product.continue' | t }}
      </a>.
    </div><!-- /.note.note-success -->
    <div
      class="note note-error js-error-msg"
      style="display: none">
      <strong>{{ 'cart.general.cart_error' | t }}</strong> {{ 'cart.general.update_qty_error' | t }}
    </div><!-- /.note.note-error -->
    <input
      type="submit"
      name="button"
      class="add clearfix mb10 AddtoCart js-ajax-submit {% if settings.show_payment_button and product.selling_plan_groups.size == 0 %} secondary-button{% endif %}"
      value="{{ call_to_action }}"
      {% unless current_variant.available %}
      disabled
      {% endunless %}/>
    {% if settings.show_payment_button %}
      {{ form | payment_button }}
    {% endif %}
  </div>

  <!-- sticky cart -->
  {% if type.settings.pf_show_sticky_cart %}
    <div id="sticky-cart" class="js-sticky-cart" data-product-sticky-bar>
      <div class="product-info">
        <h4 >{{ product.title }}</h4>
        {% render 'product-price', variant: current_variant, product: product %}
      </div>
      {% for option in product.options_with_values %}
        {% if product.variants.size > 1 %}
          {% if current_variant.option1 and forloop.index == 1 %}
            <div id="current-option-1" class="current-option">
              <p class="option-label">{{ option.name }}</p>
              <p class="option-selected">{{ current_variant.option1 }}</p>
            </div>
          {% endif %}
          {% if current_variant.option2 and forloop.index == 2 %}
            <div id="current-option-2" class="current-option">
              <p class="option-label">{{ option.name }}</p>
              <p class="option-selected">{{ current_variant.option2 }}</p>
            </div>
          {% endif %}
          {% if current_variant.option3 and forloop.index == 3 %}
            <div id="current-option-3" class="current-option">
              <p class="option-label">{{ option.name }}</p>
              <p class="option-selected">{{ current_variant.option3 }}</p>
            </div>
          {% endif %}
        {% endif %}
      {% endfor %}
      <div class="product-add">
        <input class="formVariantId" name="" type="hidden" value="{{ product.selected_or_first_available_variant.id }}">
        <div class="note note-success mt3 js-added-msg" style="display: none">
          <strong>{{ 'products.product.added' | t }}</strong> <a class="underline" href="{{ routes.cart_url }}">{{ 'products.product.view_cart' | t }}</a> {{ 'products.product.or' | t }} <a class="underline" href="{{ routes.all_products_collection_url }}">{{ 'products.product.continue' | t }}</a>.
        </div>
        <div class="note note-error js-error-msg" style="display: none">
          <strong>{{ 'cart.general.cart_error' | t }}</strong> {{ 'cart.general.update_qty_error' | t }}
        </div>
        <input type="submit" name="button" class="sticky-add clearfix mb10 AddtoCart secondary-button js-ajax-submit" value="{{ call_to_action }}" {% unless current_variant.available %}disabled{% endunless %} />
      </div>
    </div>
  {% endif %}
{% endform %}
